{% extends "main/sample.html" %}

{% block title %}Главная новостей{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости на сайте</h1>
        {% if news %}
            {% for i in news %}
                <div class="alert alert-warning">
                    <h3>{{ i.title }}</h3>
                    <p>{{ i.anons }}</p>
                    <a href="{% url 'news-detail' i.id %}" class="btn btn-danger">Читать</a>
                </div>
            {% endfor %}
        {% else %}
            <p>У вас нет записей</p>
        {% endif %}

    </div>
{% endblock %}
