body{
    background: #2c2c2c;
}
aside{
    float: left;
    background: #181818;
    width: 20%;
    padding: 1.5%;
    height: 200vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside img{
    width: 70px;
    float: left;
}
aside .Logo {
    font-size: 35px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 6px;
}

aside h3 {
    margin-top: 100px;
    font-size: 34px;
    margin-left: 7px ;
}
aside ul{
    list-style: none
}

aside ul li{
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: 18px;
    margin-left: 1px;
    transition: transform 0.6s ease;

}
aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
main .features{
    float: left;
    color: #ffffff;
    margin-top: 60px;
    text-align: center;
    width: 80%;
}
main .features h1{font-size: 60px}
main .features p{
    max-width: 600px;
    margin: 20px auto;
    font-size: 20px;
}

.alert-warning{
    float: left;
    clear: both;
    width: 400px;
    margin: 10px 30%;
    text-align: left;
}
form{
    margin-left: 27%;
    width: 500px;
    margin-top: 50px
}

main ul li{
    list-style-type: none;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
